@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');
$font:'Josefin Sans', sans-serif;
$bold: 600;
$fontLight: 300;
$dark: black;
$light: white;
$bg-dark: rgb(27, 24, 24);
$bS:  .5px .5px 10px 3px #0ff;